[run]
omit = slim/support/asyncpg/*.py
    slim/utils/debug/*
    slim_cli/*
    setup.py

source =
    slim/

[report]
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    if typing.TYPE_CHECKING:
